.margin {
  width: 1190px;
  margin: 0 auto;
  background: #fff; }

body {
  background: #fbf7f8; }

#top {
  height: 30px;
  background: #eee;
  font: 12px/30px "";
  color: #666; }
  #top .top-l {
    float: left; }
    #top .top-l h3 {
      float: left;
      margin-left: 5px;
      font: 12px/30px ""; }
    #top .top-l .lr {
      float: left;
      margin-left: 20px; }
      #top .top-l .lr a {
        padding: 0 5px; }
        #top .top-l .lr a:hover {
          color: #f42424; }
      #top .top-l .lr .border {
        border-right: 1px solid #ccc; }
  #top .top-r {
    float: right;
    width: 400px; }
    #top .top-r .cartbox {
      float: left; }
      #top .top-r .cartbox #cart {
        background: url("../imgs/goshop1.png") no-repeat left;
        padding-left: 23px;
        cursor: pointer; }
        #top .top-r .cartbox #cart:hover {
          color: #f42424; }
      #top .top-r .cartbox .num {
        color: #f00;
        font-weight: 700; }
      #top .top-r .cartbox #pay {
        margin: 0 18px;
        height: 17px;
        width: 46px;
        background: #b81c2a;
        color: #fff;
        padding: 1px 5px;
        border-radius: 3px; }
    #top .top-r ul li {
      float: left; }
      #top .top-r ul li a {
        border-left: 1px solid #ccc;
        padding: 0 10px 0 15px; }
        #top .top-r ul li a:hover {
          color: #f42424; }
      #top .top-r ul li a.phone {
        background: url("../imgs/phone.png") no-repeat 7px;
        padding: 0 10px 0 30px; }
      #top .top-r ul li a.listen {
        background-image: url("../imgs/listen.png"), url("../imgs/xiajian.png");
        background-repeat: no-repeat;
        background-position: 7px,right;
        padding: 0 10px 0 30px; }

header {
  background: #fff;
  height: 109px; }
  header #logo {
    float: left;
    margin: 21px 0 0 2px; }
  header #search {
    float: left;
    margin: 30px 0 0 124px; }
    header #search input {
      border: 2px solid #e13738;
      height: 12px;
      padding: 10px;
      width: 343px;
      float: left;
      outline: none; }
    header #search #submit {
      width: 76px;
      height: 36px;
      background: #e13738;
      display: block;
      float: left;
      color: #fff;
      font: 12px/36px "";
      text-align: center;
      cursor: pointer; }
    header #search ul li {
      float: left;
      color: #999;
      margin-top: 5px; }
      header #search ul li a {
        padding: 0 5px;
        color: #999; }
        header #search ul li a:hover {
          color: #f42424; }
  header #header-r {
    float: right;
    margin-top: 33px; }
    header #header-r a {
      height: 30px;
      border: 1px solid #eaeaea;
      display: block;
      float: left;
      text-indent: 33px;
      color: #666;
      line-height: 30px; }
    header #header-r #mycenter {
      width: 100px;
      background: #f8f8f8 url("../imgs/r1.png") no-repeat 10px; }
      header #header-r #mycenter:hover {
        color: #f42424; }
    header #header-r .cart1 {
      width: 116px;
      margin-left: 10px;
      background-color: #f8f8f8;
      background-image: url("../imgs/che.png"), url("../imgs/xiajian1.png");
      background-repeat: no-repeat;
      background-position: 5px,90px; }
      header #header-r .cart1:hover {
        color: #f42424; }

nav {
  background: #fff;
  height: 39px;
  border-bottom: 2px solid #c31d1d; }
  nav dl dt {
    font: 14px/39px "";
    width: 230px;
    height: 39px;
    background: #f42424 url("../imgs/xiajian2.png") no-repeat 160px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    float: left;
    cursor: pointer; }
  nav dl dd {
    float: left;
    font: 14px/39px "";
    width: 94px;
    height: 39px;
    text-align: center; }
    nav dl dd a {
      color: #555;
      font-weight: 700; }
      nav dl dd a:hover {
        color: #f42424; }
  nav dl dd.firsta a {
    color: #f42424; }
  nav dl dd.lasta {
    width: 110px; }


  nav dl #bigmenu{
    position: relative;
  }
  nav dl #bigmenu .smallmenu{
    text-align: left;
    z-index: 12;
    position: absolute;
    width:230px;
    height:500px;
    background:rgba(0,0,0,0.4);
    top:39px;
  }
  nav dl #bigmenu .smallmenu ul li{
    width:196px;
    height:69px;
    padding:10px 15px;
    overflow: hidden;
  }
  nav dl #bigmenu .smallmenu ul li p{
    height:34px;
  }
  nav dl #bigmenu .smallmenu ul li p i{
    margin-right:5px;
  }
  nav dl #bigmenu .smallmenu ul li a{
    color:#bfbfbf;
    margin-left:5px;
  }
  nav dl #bigmenu .smallmenu ul li a:hover{
    color:#f00;
  }
  nav dl #bigmenu .smallmenu ul li:hover{
    background:#000;
  }
  nav dl #bigmenu .smallmenu ul li p.glass i{
    background:url("../imgs/banner-bg.png")no-repeat 0 -4px;
    width:30px;height:12px;
    display: inline-block;
  }
  nav dl #bigmenu .smallmenu ul li p.glass1 i{
    background:url("../imgs/banner-bg.png")no-repeat 0 -25px;
    width:30px;height:12px;
    display: inline-block;
  }
  nav dl #bigmenu .smallmenu ul li p.glass2 i{
    background:url("../imgs/banner-bg.png")no-repeat 0 -40px;
    width:30px;height:18px;
    display: inline-block;
  }
  nav dl #bigmenu .smallmenu ul li p.glass3 i{
    background:url("../imgs/banner-bg.png")no-repeat 0 -66px;
    width:30px;height:12px;
    display: inline-block;
  }
  nav dl #bigmenu .smallmenu .b{
    padding:3px 15px;
  }
  nav dl #bigmenu .smallmenu .b strong{
    margin-right:5px;
  }
  nav dl #bigmenu .smallmenu .b1{
    padding:3px 15px;
  }
  nav dl #bigmenu .smallmenu .b1 strong{
    margin-right:5px;
  }
  nav dl #bigmenu .smallmenu .b1 strong:hover{
    color:#f00;
  }
  nav dl #bigmenu .smallmenu .b span:hover{
    color:#f00;
  }


#banner .margin {
  background: none; }

#banner .bigP {
  height: 500px; }
  #banner .bigP img {
    width: 1903px; }

#banner .promise {
  height: 136px; }
  #banner .promise img {
    margin-top: 48px; }

#advert {
  background: #fbf7f8;
  height: 311px; }
  #advert .advert-l {
    float: left; }
    #advert .advert-l img {
      margin-bottom: 10px;
      border: 1px solid #ddd; }
    #advert .advert-l .advert-l-b {
      width: 228px;
      height: 195px;
      border: 1px solid #ddd; }
    #advert .advert-l p {
      display: flex; }
      #advert .advert-l p span {
        line-height: 31px;
        flex: 1;
        text-align: center;
        height: 31px;
        background: #f6f6f6;
        border: 1px solid #ddd;
        cursor: pointer; }
      #advert .advert-l p span.typeon {
        background: none;
        font-weight: 700;
        color: #000;
        border: none;
        border-top: 2px solid #f00; }
    #advert .advert-l ul {
      margin: 14px 0 0 20px; }
      #advert .advert-l ul li a {
        font: 12px/25px ""; }
        #advert .advert-l ul li a:hover {
          color: #f42424; }
  #advert .advert-r {
    margin-left: 10px;
    float: left; }
    #advert .advert-r strong {
      background: #fbf7f8;
      height: 31px;
      display: block; }
      #advert .advert-r strong span {
        font: 16px/30px "";
        font-weight: 700;
        color: #000;
        float: left; }
      #advert .advert-r strong span.red {
        color: #d70000; }
      #advert .advert-r strong span.week {
        font-size: 12px;
        color: #fff;
        line-height: 21px;
        background: url("../imgs/bg7.png") no-repeat;
        cursor: pointer;
        width: 67px;
        height: 21px;
        text-indent: 10px; }
    #advert .advert-r .advertbox {
      height: 278px;
      width: 948px;
      border: 1px solid #ddd; }
      #advert .advert-r .advertbox .advertgoods1 {
        text-align: center;
        float: left; }
        #advert .advert-r .advertbox .advertgoods1 .img img {
          padding: 15px 10px;
          height: 192px;
          width: 290px; }
        #advert .advert-r .advertbox .advertgoods1 p {
          font: 12px/21px ""; }
          #advert .advert-r .advertbox .advertgoods1 p a {
            color: #000; }
          #advert .advert-r .advertbox .advertgoods1 p span {
            color: #999; }
          #advert .advert-r .advertbox .advertgoods1 p span.pr-red {
            color: #d70000;
            font-size: 18px; }

#hotbuy {
  background: #fbf7f8;
  margin-top: 26px;
  height: 359px; }
  #hotbuy h3 {
    height: 54px;
    border-bottom: 1px solid #ddd;
    font: 12px/54px ""; }
    #hotbuy h3 img {
      float: left; }
    #hotbuy h3 span {
      float: left;
      margin-left: 18px; }
    #hotbuy h3 ul {
      float: left; }
      #hotbuy h3 ul li {
        float: left; }
    #hotbuy h3 a {
      float: right;
      margin-right: 16px;
      color: #646464; }
  #hotbuy .hotgoods {
    width: 110%;
    overflow: hidden; }
    #hotbuy .hotgoods li {
      height: 305px;
      float: left;
      margin: 0 8px; }
      #hotbuy .hotgoods li .hotimgs {
        position: relative; }
        #hotbuy .hotgoods li .hotimgs img {
          height: 148px;
          margin: 23px 0; }
        #hotbuy .hotgoods li .hotimgs span {
          display: block;
          position: absolute;
          width: 57px;
          height: 57px;
          border-radius: 50%;
          background: #ff5555;
          font: 16px/57px "";
          color: #fff;
          text-align: center;
          bottom: 10px;
          right: 15px; }
      #hotbuy .hotgoods li p {
        font: 12px/32px ""; }
      #hotbuy .hotgoods li .hotprice {
        margin-top: 10px; }
        #hotbuy .hotgoods li .hotprice .hotprice1 {
          float: left; }
          #hotbuy .hotgoods li .hotprice .hotprice1 span {
            text-decoration: line-through;
            display: block;
            font-size: 14px;
            color: #b7b7b7; }
          #hotbuy .hotgoods li .hotprice .hotprice1 span.tep {
            text-decoration: none;
            color: #ff5555;
            font-size: 18px; }
        #hotbuy .hotgoods li .hotprice a {
          float: right;
          width: 110px;
          height: 40px;
          background: #ff5555;
          color: #fff;
          font: 18px/40px "";
          text-align: center; }

main {
  background: #fbf7f8; }
  main #f1 {
    margin-top: 32px;
    height: 565px; }
    main #f1 .f1-l {
      float: left;
      width: 230px; }
      main #f1 .f1-l .title {
        width: 231px;
        height: 64px;
        background: #dab0a8; }
        main #f1 .f1-l .title i {
          margin: 8px 0 0 12px;
          display: block;
          float: left;
          width: 42px;
          height: 34px;
          background: url("../imgs/bg1.png") 0 3px;
          font-size: 24px;
          font-weight: 700;
          color: #fff;
          opacity: 0.5;
          text-indent: -5px; }
        main #f1 .f1-l .title span {
          float: left;
          font: 18px/64px "";
          font-weight: 700;
          color: #fff;
          background: url("../imgs/bg1.png") 0 -90px;
          text-indent: 64px;
          width: 136px; }
      main #f1 .f1-l .rank h3 {
        height: 52px;
        font: 16px/52px "";
        margin: 0 10px;
        text-align: center;
        border-bottom: 1px solid #ddd; }
      main #f1 .f1-l .rank ul li {
        padding: 5px 0;
        margin: 0 5px;
        border-bottom: 1px solid #f1f1f1; }
        main #f1 .f1-l .rank ul li img {
          width: 90px;
          height: 60px;
          float: left;
          padding: 7px; }
        main #f1 .f1-l .rank ul li .zhu {
          font: 12px/18px "";
          margin-top: 10px; }
        main #f1 .f1-l .rank ul li .price1 {
          font: 14px/23px "";
          color: #ff503c; }
        main #f1 .f1-l .rank ul li .numc {
          width: 22px;
          height: 22px;
          background: #fc4345;
          display: inline-block;
          color: #fff;
          text-align: center;
          line-height: 22px; }
        main #f1 .f1-l .rank ul li i {
          margin-left: 7px; }
    main #f1 .f1-r {
      width: 959px;
      overflow: hidden;
      float: left;
      color: #d2b09c; }
      main #f1 .f1-r h3 {
        font: 12px/64px "";
        height: 64px;
        border-bottom: 1px solid #e6e6e6; }
        main #f1 .f1-r h3 ul {
          float: left; }
          main #f1 .f1-r h3 ul li {
            float: left;
            cursor: pointer;
            width: 61px;
            text-align: center; }
          main #f1 .f1-r h3 ul li.te {
            margin-left: 25px; }
        main #f1 .f1-r h3 .more {
          float: right;
          margin-right: 16px;
          color: #646464; }
      main #f1 .f1-r .goodslist {
        width: 725px;
        float: left; }
        main #f1 .f1-r .goodslist li {
          float: left;
          text-align: center;
          width: 240px;
          height: 249px;
          border-left: 1px solid #e6e6e6;
          border-bottom: 1px solid #e6e6e6; }
          main #f1 .f1-r .goodslist li img {
            height: 160px;
            padding: 15px 0; }
          main #f1 .f1-r .goodslist li p {
            color: #d2b09c;
            font: 12px/32px ""; }
          main #f1 .f1-r .goodslist li span {
            color: #d2b09c;
            font: 12px/32px ""; }
            main #f1 .f1-r .goodslist li span i {
              font-size: 18px; }
  main #f2 {
    margin-top: 32px;
    height: 565px; }
    main #f2 .f1-l {
      float: left;
      width: 230px; }
      main #f2 .f1-l .title {
        width: 231px;
        height: 64px;
        background: #f77798; }
        main #f2 .f1-l .title i {
          margin: 8px 0 0 12px;
          display: block;
          float: left;
          width: 42px;
          height: 34px;
          background: url("../imgs/bg1.png") 0 3px;
          font-size: 24px;
          font-weight: 700;
          color: #fff;
          opacity: 0.5;
          text-indent: -5px; }
        main #f2 .f1-l .title span {
          float: left;
          font: 18px/64px "";
          font-weight: 700;
          color: #fff;
          background: url("../imgs/bg1.png") 0 -90px;
          text-indent: 64px;
          width: 136px; }
      main #f2 .f1-l .rank h3 {
        height: 52px;
        font: 16px/52px "";
        margin: 0 10px;
        text-align: center;
        border-bottom: 1px solid #ddd; }
      main #f2 .f1-l .rank ul li {
        padding: 5px 0;
        margin: 0 5px;
        border-bottom: 1px solid #f1f1f1; }
        main #f2 .f1-l .rank ul li img {
          width: 90px;
          height: 60px;
          float: left;
          padding: 7px; }
        main #f2 .f1-l .rank ul li .zhu {
          font: 12px/18px "";
          margin-top: 10px; }
        main #f2 .f1-l .rank ul li .price1 {
          font: 14px/23px "";
          color: #ff503c; }
        main #f2 .f1-l .rank ul li .numc {
          width: 22px;
          height: 22px;
          background: #fc4345;
          display: inline-block;
          color: #fff;
          text-align: center;
          line-height: 22px; }
        main #f2 .f1-l .rank ul li i {
          margin-left: 7px; }
    main #f2 .f1-r {
      width: 959px;
      overflow: hidden;
      float: left;
      color: #f77798; }
      main #f2 .f1-r h3 {
        font: 12px/64px "";
        height: 64px;
        border-bottom: 1px solid #e6e6e6; }
        main #f2 .f1-r h3 ul {
          float: left; }
          main #f2 .f1-r h3 ul li {
            float: left;
            cursor: pointer;
            width: 61px;
            text-align: center; }
          main #f2 .f1-r h3 ul li.te {
            margin-left: 25px; }
        main #f2 .f1-r h3 .more {
          float: right;
          margin-right: 16px;
          color: #646464; }
      main #f2 .f1-r .goodslist {
        width: 725px;
        float: left; }
        main #f2 .f1-r .goodslist li {
          float: left;
          text-align: center;
          width: 240px;
          height: 249px;
          border-left: 1px solid #e6e6e6;
          border-bottom: 1px solid #e6e6e6; }
          main #f2 .f1-r .goodslist li img {
            height: 160px;
            padding: 15px 0; }
          main #f2 .f1-r .goodslist li p {
            color: #f77798;
            font: 12px/32px ""; }
          main #f2 .f1-r .goodslist li span {
            color: #f77798;
            font: 12px/32px ""; }
            main #f2 .f1-r .goodslist li span i {
              font-size: 18px; }

#map {
  margin-top: 35px;
  background: #f3f3f3;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  height: 191px; }
  #map .margin {
    background: none; }
  #map ul {
    border-right: 1px solid #e7e7e7;
    float: left;
    width: 192px;
    height: 191px; }
    #map ul li h3 {
      margin-top: 30px;
      color: #666;
      font-size: 14px;
      margin-bottom: 10px; }
    #map ul li strong {
      font-size: 18px;
      color: #f00; }
    #map ul li span {
      width: 145px;
      display: inline-block;
      font: 12px/24px ""; }
    #map ul li a {
      display: block;
      border: 1px solid #d5d5d5;
      width: 137px;
      height: 24px;
      background: #fff;
      color: #333;
      margin-top: 21px;
      text-align: center;
      line-height: 24px;
      background: url("../imgs/t3.png") no-repeat 7px; }
  #map dl {
    float: left;
    width: 167px;
    height: 191px;
    text-align: center;
    border-left: 1px solid #fff;
    border-right: 1px solid #e7e7e7; }
    #map dl dt {
      margin-top: 30px;
      font: 14px/25px "";
      color: #666; }
    #map dl dd {
      text-indent: -30px;
      font: 12px/24px ""; }
  #map .wecat {
    float: right;
    width: 140px;
    text-align: center; }
    #map .wecat h3 {
      margin-top: 30px;
      display: inline-block;
      font: 14px/25px "";
      color: #666;
      font-weight: 700; }
    #map .wecat p {
      font: 12px/35px "";
      color: #666; }

#email {
  height: 94px;
  border-bottom: 1px solid #ddd; }
  #email .myemail {
    float: left;
    margin-top: 34px; }
    #email .myemail input {
      padding: 5px 30px 5px 10px;
      border: 1px solid #ddd;
      float: left; }
    #email .myemail a {
      height: 26px;
      width: 53px;
      background: #d4003c;
      text-align: center;
      font: 12px/26px "";
      color: #fff;
      float: left; }
  #email img {
    float: right; }

footer {
  text-align: center;
  height: 121px; }
  footer h4 {
    color: #999;
    margin-top: 10px;
    text-align: left; }
  footer .sm ul {
    height: 16px;
    margin-top: 24px;
    margin-left: 278px;
    display: block; }
    footer .sm ul li {
      float: left; }
      footer .sm ul li a {
        padding: 0 13px; }
  footer .sm p {
    font: 12px/20px "";
    color: #666; }
